<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property resource="application.properties"/>

    <appender name="STATS-FILE" class="ch.qos.logback.core.FileAppender">
        <file>${codes.monkey.metric.logfile}</file>
        <append>false</append>
        <immediateFlush>true</immediateFlush>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="codes.monkey.batchstats.htmlreport.JsonReportDataLayout" />
        </encoder>
    </appender>

    <appender name="STATS" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!--<encoder>-->
            <!--<pattern>%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} [%thread] %highlight(%-5level) - %msg  %n</pattern>-->
        <!--</encoder>-->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="codes.monkey.batchstats.htmlreport.JsonReportDataLayout" />
        </encoder>
    </appender>

    <logger name="org.springframework" level="ERROR"/>

    <logger name="codes.monkey" level="INFO" additivity="false">
        <appender-ref ref="STATS" />
        <appender-ref ref="STATS-FILE" />
    </logger>
</configuration>